*{
    margin:0;
    padding:0;
}

body{
    font-family: lazord 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;

}                                
/* logo da página */

.topoprincipal{
    width:100%;

}

/* menu de navegação da página */
nav ul{
    background-color: #8b4d07;
    margin-top: -4px;
    padding:5px;
}
nav ul li{
    list-style: none;
    margin:5px;
    padding:4px;
    position:relative;
    display:inline-block;
}
nav ul li a{
    color:#ffffff;
    text-decoration: none;
    margin:3px;
    padding:5px;
}
nav ul li a:hover{
    background-color:#5a3306;

}
/*  submenu */
nav ul li ul{
    display:none;
    position:absolute;
    margin-top: 5px;

}
nav ul li ul li{
    width: 236px;
    
}

nav li:hover ul{
    display:block;
    animation:1s  forwards anim;

}


/*area de conteúdo da página*/
main{
    width:100%;
    border-radius:12px;
    margin:10px;
}
.imgarticle{
    width:70%;
}
.conteudo{
    margin: 15px;
}
/* título príncipal da página */
h2{
    color:#cf7106;
    font-size:30px;
    padding:10px;
}
/* título secundário da página */
h4{
    color:#cf7106;
    font-size:24px;
    padding: 10px;
}
.eventos{
    flex-wrap: wrap;
    
}
.paragrafo{
    margin:10px;
    padding:10px;
}
.janelaprincipal{
    display:flex;
    flex-wrap: wrap;
    float: left;
    width:100%;
    height:100%;
    min-width: none;
    max-width: 600px;
    margin:5px;
    padding: 15px;
    
}
.janelasecundaria{
    border-radius:12px;
    float:right;
    margin: 5px 15px 0 0;
    padding:15px;
    min-width: 200px;
    max-width: 300px;
}
@keyframes anim{
    100%{
        transform:rotateX(0);
    }
    0%{
        transform:rotatex(90deg);
    }
}
.foto-apoio{
    margin:10px;
    width:100%;
    padding:2px;
    border:1px solid black;
    border-radius: 12px;
    background-color: #fff2cc;
    box-shadow: 3px 10px 30px 2px lightblue;
}
.cont{
    margin-left:25px;
}
/*linha que divide o rodapé da janela primária e secundária*/
hr{
    clear:both;
}
/*rodapé da página*/
footer{
    clear:both;
    padding: 5px;
    text-align: center;
    width:100%;
    height: 100%;
}
.Appertizers{
    padding:10px;
    border:1px solid black;
    border-radius: 12px;
    background-color: #fff2cc;
    box-shadow: 3px 10px 30px 2px lightblue;
}

